
body {
     /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
   background: url("https://wallpaperscraft.com/image/glare_background_blur_dark_63553_2560x1440.jpg")  no-repeat center center fixed;;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #000;
  
}
.jumbotron h1, p{

	text-align: center;
	color: white;
}
.jumbotron{
	background-color: rgba(192,192,192,0.3);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    
}
a:hover {
    color: white;
}
.m_navbar{
 background-color: rgba(231, 231, 231, 0.6);
border-color: none;
color: black;
}

h3{
    color:black;
}